streamlit
matplotlib
pandas
numpy
numexpr>=2.8.5
mlflow>=3.1.0
pycaret
streamlit_ketcher
py3Dmol
stmol
ipython_genutils
pubchempy
pyyaml
watchdog
seaborn
openpyxl
requests
molvs
openbabel-wheel
shap
catboost
selfies


# rdkitのインストールをconda-forge経由で指定
-f https://conda.anaconda.org/conda-forge
rdkit

