streamlit
matplotlib
pandas
numpy
pycaret
streamlit_ketcher
py3Dmol
stmol
ipython_genutils
pubchempy
pyyaml
watchdog
seaborn
openpyxl
requests
molvs

# rdkitのインストールをconda-forge経由で指定
-f https://conda.anaconda.org/conda-forge
rdkit
